<!--begin home about-->
<section class="home_about">
    <div class="home_about__pseudo">
        <img src="img/img_sky.png" alt="Pseudo">
    </div>
    <div class="container">
        <div class="home_about__wrapper home_about_wrap">
            <!--begin item-->
            <div class="home_about_wrap__item home_about_item">
                <img src="img/img_about.jpg" alt="Img">
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="home_about_wrap__item home_about_item">
                <h1 class="title item_title">Title goes here</h1>
                <p class="item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
                <a class="btn_green" href="#/">read more</a>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end home about-->
<!--begin home books-->
<section class="home_books" style="background-image: url('img/bg_mountains.png')">
    <div class="container">
        <div class="home_books__wrapper home_books_wrap">
            <!--begin item-->
            <div class="home_books_wrap__item home_books_wrap_item">
                <div class="home_books_wrap_item__img">
                    <img src="img/img_book_1.png" alt="Img">
                </div>
                <div class="home_books_wrap_item__info">
                    <h2 class="title item_title">New bestseller!</h2>
                    <h3 class="undertitle">Duis aute irure dolor in reprehenderit</h3>
                    <p class="item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                    <a class="btn_green" href="#/">Order now!</a>
                </div>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="home_books_wrap__item home_books_wrap_item">
                <div class="home_books_wrap_item__img">
                    <img src="img/img_book_2.png" alt="Img">
                </div>
                <div class="home_books_wrap_item__info">
                    <h2 class="title item_title">Book title </h2>
                    <h3 class="undertitle">Duis aute irure dolor in reprehenderit </h3>
                    <p class="item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
                    <a class="btn_green" href="#/">Order now!</a>
                </div>
            </div>
            <!--end item-->
        </div>
        <div class="home_books__arrow">
            <a href="#/"><img src="img/icon_arrow.png" alt="Arrow"></a>
        </div>
    </div>
</section>
<!--end home books-->
<!--begin home phrase-->
<section class="home_phrase">
    <div class="home_phrase__pseudo">
        <img src="img/img_sky_2.png" alt="Pseudo">
    </div>
    <div class="container">
        <div class="home_phrase__wrapper home_phrase_wrap">
            <!--begin item-->
            <div class="home_phrase_wrap__item home_phrase_item">
                <div class="home_phrase_item__img">
                    <img src="img/img_phrase_1.png" alt="Img">
                </div>
                <div class="home_phrase_item__text">
                    <h3 class="title">Ut enim ad minim veniam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                </div>
            </div>
            <!--end item-->
            <!--begin item-->
            <div class="home_phrase_wrap__item home_phrase_item">
                <div class="home_phrase_item__img">
                    <img src="img/img_phrase_2.png" alt="Img">
                </div>
                <div class="home_phrase_item__text">
                    <h3 class="title">Excepteur sint occaecat</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                </div>
            </div>
            <!--end item-->
        </div>
    </div>
</section>
<!--end home phrase-->