<!--begin footer-->
<footer class="footer" style="background-image: url('img/bg_footer.png')">
    <div class="container">
        <div class="footer__wrapper footer_wrap">
            <!--begin item-->
            <div class="footer_wrap__item footer_item">
                <nav class="footer_item__nav">
                    <ul>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer_item__copyright">
                    <p>© OODLES 2018, All Rights Reserved</p>
                </div>
            </div>
            <div class="footer_wrap__item footer_item">
                <div class="footer_item__socials">
                    <ul>
                        <li>
                            <a href="#/"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li>
                            <a href="#/"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#/"><i class="fab fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end item-->
        </div>
    </div>
</footer>
<!--end footer-->
