<!--begin header-->
<header class="header" style="background-image: url('img/bg_header.png')">
    <div class="container">
        <div class="header__wrapper header_wrap">
            <div class="header_wrap__logo">
                <a href="/">Oodles <span>academy</span></a>
            </div>
            <nav class="header_wrap__nav">
                <ul>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!--end header-->