<!--begin header-->
<header class="header" style="background-image: url('img/bg_header.png')">
    <div class="header__over"></div>
    <div class="container">
        <div class="header__wrapper header_wrap">
            <div class="header_wrap__logo">
                <a href="/">Oodles <span>academy</span></a>
            </div>
            <nav class="header_wrap__nav show_desctop">
                <ul>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                    <li>
                        <a href="#/">Menu item</a>
                    </li>
                </ul>
            </nav>
            <div class="header_wrap__mobile show_mobile">
                <div class="header_wrap__icon">
                    <a href="#/"><i class="fas fa-bars"></i></a>
                </div>
                <nav class="header__navigation">
                    <ul>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                        <li>
                            <a href="#/">Menu item</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--end header-->