// Subpage

.sub_list {
  padding: 80px 0;
}

.sub_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:nth-child(even) {
    .sub_list_item__img {
      order: 2;
    }
    .sub_list_item__info {
      &:before {
        transform: scaleX(-1);
        right: -130px;
        left: initial;
      }
    }
  }
  &__img {
    width: 650px;
    max-width: 100%;
  }
  &__info {
    position: relative;
    width: 505px;
    max-width: 100%;
    &:before {
      position: absolute;
      content: '';
      background-image: url("../img/img_arrow.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100px;
      height: 53px;
      left: -120px;
      top: -30px;
    }
    .title {
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 45px;
    }
  }
}